* {
  font-family: "Raleway", sans-serif;
  margin-left: 5px;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  text-shadow: 5px 5px dodgerblue;
  margin: 0;
  text-align: center;
  align-items: center;
  background-color: darkblue;
  color: whitesmoke;
}

#cityLookup,
#forecast,
#cityName {
  display: flex;
  color: navy;
  padding: 10px;
  border: 2px 2px solid;
  text-shadow: 1px 1px dodgerblue;
}

#futureForecast {
  background-color: royalblue;
  color: aliceblue;
  text-shadow: 2px 2px darkblue;
  border: 2px solid darkblue;
  padding: 20px;
  box-shadow: 10px 10px darkblue;
}
